@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import "tailwindcss";

/* Light Mode (default) */
:root {
  --bg-color: #ffffff;
  --primary-text-color: #475569;
  --secondary-text-color:#6b7280;
}

/* Dark Mode */
.dark {
  --bg-color: #000814;
  --primary-text-color: #cbd5e1;
  --secondary-text-color:#9ca3af;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

@keyframes profile_animate {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

@media(max-width:500px){
  .profile-img{
    width:220px;
    height: 220px;
  }
}


@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0);
  }
}

 


 

